html, body {
    /* width: 100px; */

  background-color: #333;
  }
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px 10px;
  /* padding-bottom: 10px; */
  text-decoration: none;
  font-size: 13px;
  width: 80px;
  cursor: pointer;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.display {
  color: #fff;
}
  input {
    background-color: #ddd;
    width: 75px;
    height: 25px;
    padding: 4px 16px;
  }
  .hidden {
    display: none;
  }
  
  .button {
    height: 33px;
    background-color: #ddd;
    margin: 3% auto;
    padding: 2px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  .button2 {
    height: 33px;
    width: 110px;
    background-color: #ddd;
    margin: 3% auto;
    padding: 2px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  #error-content{
    color: #ddd;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .title {
    color: #ddd;
    width: 120px;
    padding: 14px 16px 10px;
  }
  .slidertotal {
    padding: 14px 16px 10px;
  }
/*   
  .beast:hover {
    background-color: #CFF2F2;
  }
  
  .beast {
    background-color: #E5F2F2;
  }
  
  .reset {
    background-color: #FBFBC9;
  }
  
  .reset:hover {
    background-color: #EAEA9D;
  } */